# .gitignore
.ftpconfig

# .vscode
.vscode/

# environment
.env

##c
c/**/a.out
c/**/hello
c/**/*.o

## java
java/*.class

## scala
scala/**/project
scala/**/target

##maven
maven/target

##nodejs
node/**/node_modules
node/config/

##python
python/**/.venv
python/**/__pycache__

##mongodb
mongodb/**/*.json
mongodb/*.json
mongodb/backup

## oracle
oracle/node/dbConfig.js
oracle/node/node_modules
oracle/node/package-lock.json

## html
html/*/*
!html/chapter01/*
!html/chapter02/*
!html/chapter03/*
!html/mysql/*
html/**/node_modules

html/**/media/

project/**/node_modules